@import url("https://fonts.googleapis.com/css?family=Roboto:300,500,700");
@import url("https://spoqa.github.io/spoqa-han-sans/css/SpoqaHanSans-kr.css");

.wrapper {
  display: grid;
  place-items: center;
  min-height: 100vh;
}

.content {
  text-align: center;
  padding: 1rem;
}

html, body, input, select, textarea, p, a {
  font-family: 'Roboto', sans-serif;
  line-height: 1.6;
  font-size: 1.4rem;
  font-weight: 300;
  letter-spacing: 2px;
  -webkit-text-size-adjust: none;
}
:lang(ko) {
  font-family: 'Spoqa Han Sans', sans-serif;
  font-weight: 300;
  line-height: 1;
  font-size: 1.25rem;
  letter-spacing: 0.6px;
}


@media only screen and (max-width: 980px) {
  body, input, select, textarea, p, a {
    font-size: 1.5rem;
  }
  :lang(ko) {
    font-size: 1.35rem;
  }
}

@media only screen and (max-width: 780px) {
  body, input, select, textarea, p, a {
    font-size: 1.6rem;
  }
  :lang(ko) {
    font-size: 1.45rem;
  }
}

@media only screen and (max-width: 480px) {
  body, input, select, textarea, p, a {
    font-size: 1.7rem;
  }
  :lang(ko) {
    font-size: 1.55rem;
  }
}
