@import url("https://fonts.googleapis.com/css?family=Roboto:300,500,700");
@import url("https://spoqa.github.io/spoqa-han-sans/css/SpoqaHanSans-kr.css");

.middle {
   /* 이하 필수 설정 */
   position: absolute;
   left: 50%; top: 50%;
   transform: translate(-50%, -50%);
   text-align: center;
   /* 이하 꾸밈 설정 */
   background: white;
}

/*  font */
:lang(ko) {
  font-family: 'Spoqa Han Sans', sans-serif;
  font-weight: 300;
  line-height: 1;
  font-size: 1.05rem;
  letter-spacing: 0.6px;
}

body, input, select, textarea {
  font-family: 'Roboto', sans-serif;
  line-height: 1.8;
  font-size: 1.1rem;
  font-weight: 300;
  letter-spacing: 2px;
}

@media screen and (max-width: 780px) {
  :lang(ko) {
    font-size: .96rem;
    letter-spacing: 0px;
    line-height: 1;
}

  body, input, select, textarea {
    font-size: 1rem;
    letter-spacing: 2px;
    line-height: 1.65;;
}

@media screen and (max-width: 480px) {
  :lang(ko) {
    font-size: .96rem;
    letter-spacing: 0px;
    line-height: 1;
}

  body, input, select, textarea {
    font-size: 1rem;
    letter-spacing: 2px;
    line-height: 1.65;;
}

img {
    display: inline-block;
    width: auto\9 !important; /* ie8 */
    width: auto !important;
    max-width: 100%;
    height: auto !important;
}
